.container {
  margin: 0 auto;
  max-width: 1128px;
  padding-bottom: 36px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.item {
  border: 1px solid #808080;
  width: calc((100% - 2 * 24px) / 3);
  height: 240px;
  overflow: hidden;
}
